.row(style="text-align:center;")
    img(src="/images/logo-1.png", alt="Carlos Villegas Studio", width="100px", style="z-index:3000; display:block; margin-left:auto; margin-right:auto;")

nav.navbar.navbar-expand-lg.navbar-light#menu
    a.navbar-brand(href='#')  
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='#') Acerca de mi
            li.nav-item
                a.nav-link(href='#') Historias
            li.nav-item
                a.nav-link(href='#') Paquetes
            li.nav-item
                a.nav-link(href='#') Album
            li.nav-item
                a.nav-link(href='#') Contacto
